[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scipy = "*"
seaborn = "*"
statsmodels = "*"
ipykernel = "*"
openpyxl = "*"
scikit-learn = "*"
matplotlib = "*"
pandera = "*"
jupyter = "*"
lightgbm = "*"

[dev-packages]

[requires]
python_version = "3.11"
